body{
    background-color: cadetblue;
}
.image1{
    border: 10px solid black;
    opacity:0.6;
   }
  .image2:hover{
    filter: grayscale(0%);
   }
   .image2{
    filter: grayscale(100%);
   } 
   
 /* .one{
    background-color: rgb(11, 198, 136,0);
    padding: 10px; 
 }
 .two{
   background-color: rgb(168, 102, 21,0.2 );
    padding: 10px; 
 }

 .three{
    background-color: rgba(153, 174, 13, 0.8);
    padding: 10px; 
 }
 .four{
   background-color: rgb(0, 241, 92,1);
    padding: 10px;
 } */
